{% extends "base.html" %}

{% block title %}صفحه اصلی{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>مدیریت پرونده‌های بانک</h1>
    <div class="mt-4">
        <a href="{{ url_for('cases.create_case_view') }}" class="btn btn-primary">ایجاد پرونده جدید</a>
        <a href="{{ url_for('main.search_cases') }}" class="btn btn-secondary">جست‌وجوی پرونده‌ها</a>
        <a href="{{ url_for('backup.backup_page') }}" class="btn btn-secondary">بکاپ</a>
        <a href="{{ url_for('main.view_logs') }}" class="btn btn-secondary">لاگ</a>
    </div>
</div>
{% endblock %}